<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="text-6xl text-fuchsia-900"><%= title %></h1>
    <p class="text-orange-300 text-7xl ">Welcome to <%= title %></p>

    <a href="/new">Add new message</a>
    
    <ul>
      <% messages.forEach(function(message){ %>
        <li>
          <p><strong><%= message.user %>:</strong> <%= message.text %></p>
          <p><small><em><%= message.added.toLocaleString() %></em></small></p>
        </li>
      <% }) %>
    </ul>
    <p>a vsdfsdscdfgdffddfgdfdfsder</p>
  </body>
</html>