<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="../public/stylesheets/output.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/new">Add new message</a>
    
    <ul>
      <% messages.forEach(function(message){ %>
        <li>
          <p><strong><%= message.user %>:</strong> <%= message.text %></p>
          <p><small><em><%= message.added.toLocaleString() %></em></small></p>
        </li>
      <% }) %>
    </ul>
  </body>
</html>